/* *
*--- 01 TYPOGRAPHY SYSTEM 
*FONT SIZE SYSTEM (px)
? --   10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 /48/ 52 / 62 / 74 / 86 / 98

*- Font-Weight:
Default: 
medium: 
semi-bold: 
bold: 

*- Line-heightL:
  Default: 1
  h1: 1.05
  h2:1.1
  p: 1.6

  *-- Letter spacing
  -0.5px
  0.75px


font-family: 
font-family: '

*--- 02 Color
   Primary: #cc1855
#001f3f
#2388cc

*- Tints:

*- shades:
#a31344
#001f3f
#001120

*- Greys:
#fff
#212529
*--- 05 Shadows 
 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

*--- 06 Border-radius
Default: 5px


*--- 07 WhiteSpace
*- SPACING SYSTEM (px)
? --   2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

:root {
  --color-1: #cc1855;
  --color-2: #2388cc;
  --color-3: #001f3f;
  --color-4: #212529;
  --color-5: #fff;
  --color-6: #a31344;
  --color-7: #1c6da3;
  --color-8: #001120;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  color: #212529;
  line-height: 1;
  font-weight: 400;
}

/* ! -------------------- Container --------------------*/

.container {
  max-width: 120rem;
  margin: 0 auto;
}
/* ! -------------------- Grids --------------------*/

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}
.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4--cols {
  grid-template-columns: repeat(4, 1fr);
}

.center-y {
  align-items: center;
}

.no-gap {
  column-gap: 2.4rem;
  row-gap: 2.4rem;
}

.plan-gap {
  column-gap: 4rem;
}
/* ! -------------------- headings --------------------*/

.primary-heading,
.secondary-heading,
.heading--tertiary {
  font-weight: 700;
  color: var(--color-4);
  letter-spacing: -0.5px;
}

.primary-heading {
  font-size: 5.4rem;
  letter-spacing: -0.5px;
  line-height: 1.2;
  margin-bottom: 3.8rem;
}
.secondary-heading {
  font-size: 4.4rem;
  line-height: 1.3;
  margin-bottom: 9.6rem;
}

.heading--tertiary {
  font-size: 2.8rem;
  line-height: 1.3;
  margin-bottom: 3.6rem;
}

.sub-heading {
  font-size: 1.6rem;
  display: block;
  color: var(--color-1);
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

/* ! -------------------- btns --------------------*/

.btn {
  border: none;
  font-size: 1.8rem;
  font-weight: 600;
  background-color: #fff;
  transition: all 0.3s ease;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.btn--primary {
  background-color: var(--color-1);
  padding: 1.4rem 2.8rem;
}
.btn--primary:hover {
  background-color: var(--color-6);
}
.btn--secondary {
  color: #212529;
  border: 2px solid var(--color-3);
  padding: 1.2rem 2.6rem;
}
.btn--secondary:hover {
  background-color: var(--color-3);
  color: #fff;
}

.btn--level {
  background-color: var(--color-3);
  padding: 1.4rem 2.8rem;
}
.btn--level:hover {
  background-color: var(--color-8);
  padding: 1.4rem 2.8rem;
}

/* ! -------------------- links --------------------*/

.link:link,
.link:visited {
  color: var(--color-2);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 0.2rem;
  transition: all 0.3s;
}
.link:hover,
.link:active {
  color: var(--color-7);
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

/* ! -------------------- Others --------------------*/
.margin-bottom--mb {
  margin-bottom: 4.8rem;
}
strong {
  font-weight: 600;
  color: var(--color-4);
}
